extends ../layout

block content
  .content-header
    h1 Change Password
    a.btn.btn-outline(href="/profile")
      i.fas.fa-arrow-left
      span Back to Profile
  
  .form-container
    form(action="/profile/change-password?_method=PUT", method="POST")
      .form-group
        label(for="currentPassword") Current Password
        input#currentPassword.form-control(type="password", name="currentPassword", required)
      
      .form-group
        label(for="newPassword") New Password
        input#newPassword.form-control(type="password", name="newPassword", required)
        small.form-text Password must be at least 6 characters
      
      .form-group
        label(for="confirmPassword") Confirm New Password
        input#confirmPassword.form-control(type="password", name="confirmPassword", required)
      
      button.btn.btn-primary.btn-block(type="submit") Change Password

